<ion-header-bar class="bar-calm">
    <h1 class="title">Mes notes</h1>
    <a class="button icon ion-plus-round" href="/#/newNote"></a>
</ion-header-bar>

<ion-content>
    <ion-list ng-repeat="note in notes.tabNotes">
    {{note.importance.couleur}}
        <ion-item href="#/note/{{note.id}}">
        	<i class="icon ion-flag"></i>
            <h2 ng-style="{ 'textDecoration' : note.done ? 'line-through' : 'none',
                          'color' : note.done ? 'grey' : 'black' }" style="display: inline;">{{note.titre}}</h2>
            <i class="icon ion-chevron-right" style="float: right; color: {{note.importance.couleur}}"></i>
        </ion-item>

    </ion-list>
</ion-content>
