<ion-header-bar class="bar-calm">
    <a class="button icon ion-chevron-left" ng-click="quitter()">Retour</a>
    <h1 class="title">Nouvelle note</h1>
</ion-header-bar>

<ion-content>

    <div class="list">
        <label class="item item-input">
            <span class="input-label">Titre</span>
            <input type="text" ng-model="form.titre" ng-style="{'background' :  (form.titre === '') ? '#86e0f9' : 'none' }" style="margin-right: 20px; padding-left: 3px;">
        </label>

        <label class="item item-textarea">
            <textarea placeholder="Commentaires" ng-model="form.comment"></textarea>
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
                Importance
            </div>
            <select ng-model="form.importance">
                <option ng-repeat="i in enums.importances">{{i.value}}</option>
            </select>
            {{form.importance}}
        </label>


        <!--        PLUS D OPTIONS      -->
        <div class="item item-divider">
            Plus d'options
        </div>

        <!--        OPTION : délai      -->
        <label class="item item-toggle">
            Ajouter une date butoir
            <label class="toggle toggle-calm">
                <input type="checkbox" ng-model="form.delai">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </label>
        <label class="item item-input" ng-if="form.delai">
            <span class="input-label">Date butoir</span>
            <input ng-model="form.dateButoir" type="date">
        </label>




        <!--        BOUTON DE VALIDATION        -->
        <div style="text-align: center; margin-top: 20px;">
            <button class="button button-calm" ng-click="createNote()">
                <i class="icon ion-checkmark-round"></i>
                Créer note
            </button>
        </div>


    </div>

</ion-content>
