<ion-header-bar class="bar-calm">
    <a class="button icon ion-chevron-left" href="/#/allNotes">Retour</a>
    <h1 class="title">Détails</h1>
    <button class="button icon ion-gear-a" ng-click="noteOptions(note)"></button>
</ion-header-bar>

<ion-content>

    <div class="row">
        <div class="col">
            <h2 style="text-align: center;">{{note.titre}}</h2>
        </div>
    </div>

    <div class="list">

        <div class="item item-toggle">
            Terminé
            <label class="toggle toggle-calm">
                <input type="checkbox" ng-model="note.done">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

        <div class="item item-divider"></div>

        <div class="item">
            <div style="margin: 10px;">
                {{note.comment}}
            </div>
        </div>

        <div class="item">
            <div class="row">
                <div class="col">
                    Importance :
                </div>
                <div class="col" style="color: {{note.couleur}}">
                    {{note.importance}}
                </div>
            </div>
        </div>
        
        <div ng-if="note.done">
            
        </div>

    </div>


</ion-content>
