<ion-header-bar class="bar-calm">
    <a class="button icon ion-chevron-left" ng-click="saveAndBack()">Retour</a>
    <h1 class="title">Détails</h1>
    <button class="button icon ion-gear-a" ng-click="noteOptions(note)"></button>
</ion-header-bar>

<ion-content>
    <div class="row">
        <div class="col">
            <h2 style="text-align: center;">{{note.titre}}</h2>
        </div>
    </div>

    <div class="list">
        <div class="item item-toggle">
            Terminé
            <div ng-if="note.done" style="font-style: italic; font-size: 75%;">
                {{note.dateDone}}
            </div>

            <label class="toggle toggle-calm">
                <input type="checkbox" ng-model="note.done" ng-change="doneTriggered()">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

        <div class="item item-divider"></div>

        <div class="item">
            {{note.comment}}
        </div>

        <div class="item">
            Importance :

            <div style="color: {{note.couleur}}; display: inline; margin-left: 100px;">
                {{note.importance}}
            </div>
        </div>
        
        <div class="item" ng-if="note.dateButoir">
            Date butoir :

            <span style="font-style: italic; margin-left: 100px;">
                {{note.dateButoir}}
            </span>
        </div>

    </div>


</ion-content>
